.hide{
    display:none;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    appearance:none;
    -webkit-appearance:none;
    padding:10px;
    border:none;
    background-color:green;
    color:white;
    font-weight:600;
    border-radius:5px;
    width:100%;
    padding: 10px;
    margin: 10px;
}

button:hover{
    background-color:yellowgreen;
    color:white;
}

button:active{
    background-color:white;
    color:green;
}

.filter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

